.titulo {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  text-shadow: 0px 0px 0 rgb(173, 198, 170),
    1px 1px 0 rgb(157, 182, 154),
    2px 2px 0 rgb(142, 167, 139),
    3px 3px 0 rgb(126, 151, 123),
    4px 4px 0 rgb(110, 135, 107),
    5px 5px 0 rgb(94, 119, 91),
    6px 6px 5px rgba(0, 0, 0, 0.52),
    6px 6px 1px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, .2);
}

#contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {

    div {
      overflow: hidden;

      &:hover > img{
        filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
}
      img {
        width: 100%;
        height: 300px;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
}
    }


  }
}

/*@import '/node_modules/@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'Lobster'
);

@include angular-material-typography($custom-typography);*/
