<div>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>

  <div class="carousel-inner" data-bs-interval="5000">
    <div class="carousel-item active" *ngFor="let item of animalesCarousel">
      <img src="{{todosAnimales[item].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[item].nombre}}">
      <div class="carousel-caption">
        <h1 class="lobs mat-typography" style="font-size: 40px;">{{todosAnimales[item].nombre}}({{todosAnimales[item].nombreCientifico}})</h1>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000" *ngFor="let item of animalesCarousel2">
      <img src="{{todosAnimales[item].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[item].nombre}}">
      <div class="carousel-caption">
        <h1 class="lobs mat-typography" style="font-size: 40px;">{{todosAnimales[item].nombre}}({{todosAnimales[item].nombreCientifico}})</h1>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000" *ngFor="let item of animalesCarousel3">
      <img src="{{todosAnimales[item].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[item].nombre}}">
      <div class="carousel-caption">
        <h1 class="lobs mat-typography" style="font-size: 40px;">{{todosAnimales[item].nombre}}({{todosAnimales[item].nombreCientifico}})</h1>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000" *ngFor="let item of animalesCarousel4">
      <img src="{{todosAnimales[item].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[item].nombre}}">
      <div class="carousel-caption">
        <h1 class="lobs mat-typography" style="font-size: 40px;">{{todosAnimales[item].nombre}}({{todosAnimales[item].nombreCientifico}})</h1>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000" *ngFor="let item of animalesCarousel5">
      <img src="{{todosAnimales[item].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[item].nombre}}">
      <div class="carousel-caption">
        <h1 class="lobs mat-typography" style="font-size: 40px;">{{todosAnimales[item].nombre}}({{todosAnimales[item].nombreCientifico}})</h1>
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"
      title="Anterior">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"
      title="Siguiente">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br><br>

<!--------------------------------------------------------------------------------------------->
<h1 id="tit" class="lobs mat-display-3 text-center text-white text-uppercase mat-display-3 mat-typography">Algunas especies de animales</h1>
<br><br>

<div class="container-fluid p-0 m-0" id="contenedor">

  <div class="cajas bg-success" *ngFor="let item of animalesAleatorios">
    <img src="{{todosAnimales[item].IMG}}" alt="{{todosAnimales[item].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[item].nombre}}</h1>
      <p>{{todosAnimales[item].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success" *ngFor="let item of animalesAleatorios2">
    <img src="{{todosAnimales[item].IMG}}" alt="{{todosAnimales[item].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[item].nombre}}</h1>
      <p>{{todosAnimales[item].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success" *ngFor="let item of animalesAleatorios3">
    <img src="{{todosAnimales[item].IMG}}" alt="{{todosAnimales[item].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[item].nombre}}</h1>
      <p>{{todosAnimales[item].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success" *ngFor="let item of animalesAleatorios4">
    <img src="{{todosAnimales[item].IMG}}" alt="{{todosAnimales[item].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[item].nombre}}</h1>
      <p>{{todosAnimales[item].descripcion}}</p>
    </div>
  </div>

</div>

<br><br>



