.lobs {
  font-family: 'Lobster Two', cursive;
}

#tit {
  text-shadow: 0px 0px 0 #adc6aa, 1px 1px 0 #9db69a, 2px 2px 0 #8ea78b, 3px 3px 0 #7e977b, 4px 4px 0 #6e876b, 5px 5px 0 #5e775b, 6px 6px 5px rgba(0, 0, 0, 0.52), 6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenedor .cajas {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  opacity: 90%;
  -webkit-box-shadow: 7px 7px 4px 1px;
          box-shadow: 7px 7px 4px 1px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#contenedor .cajas:hover {
  border: 3px solid #ffffff;
}

#contenedor .cajas:hover > div > h1 {
  color: #ffffff;
}

#contenedor .cajas:hover > img {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

#contenedor .cajas:nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#contenedor .cajas:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 30px;
  margin-right: 50px;
}

#contenedor .cajas:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 30px;
}

#contenedor .cajas:nth-child(4) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 30px;
  margin-right: 50px;
}

#contenedor .cajas img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

#contenedor .cajas div {
  margin-left: 10px;
}

#contenedor .cajas div h1 {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

@media screen and (max-width: 540px) {
  #contenedor .cajas {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #contenedor .cajas:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
  #contenedor .cajas {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #contenedor .cajas:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #contenedor .cajas {
    width: 70%;
  }
  #contenedor .cajas:nth-child(even) {
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #contenedor .cajas:nth-child(odd) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.carousel-caption {
  background-color: #0e0e0e;
  opacity: 80%;
}
/*# sourceMappingURL=inicio.component.css.map */