.lobs{
  font-family: 'Lobster Two', cursive;
}

#titulo {
  text-align: center;
  text-shadow: 0px 0px 0 rgb(173, 198, 170),
    1px 1px 0 rgb(157, 182, 154),
    2px 2px 0 rgb(142, 167, 139),
    3px 3px 0 rgb(126, 151, 123),
    4px 4px 0 rgb(110, 135, 107),
    5px 5px 0 rgb(94, 119, 91),
    6px 6px 5px rgba(0, 0, 0, 0.52),
    6px 6px 1px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, .2);
}

#contenedor {
  display: flex;
  justify-content: center;

  .tabanimales {
    max-width: 90%;
    padding: 10px;


    #fotos {
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @media screen and (min-width: 481px) and (max-width:767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
      }

      div {
        overflow: hidden;
        border: 2px solid black;
        box-shadow: 8px -4px 8px 0px rgba(0, 0, 0, 0.58);

        @media screen and (max-width: 480px){
          width: 100%;
          margin-top: 10px;
        }

        @media screen and (min-width: 481px) and (max-width:767px) {
          width: 100%;
          margin-top: 10px;
        }


        &:hover>img {
          transform: scale(1.3);

          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          -o-transform: scale(1.3);
        }

        img {
          width: 300px;
          height: 300px;
          transition: all .5s ease-in-out;

          @media screen and (max-width: 480px){
            width: 100%;
          }
          
          @media screen and (min-width: 481px) and (max-width:1200px) {
            width: 100%;
          }



        }
      }


    }


  }
}

.mat-tab-group {
  margin-bottom: 48px;
}

.btnOcultar{
  &:hover{
    color: #ffffff;
  }
}

.contenedorB{
  .buscador{
    width: 50%;
    margin: auto;
    @media screen and (max-width: 480px){
      width: 100%;
    }
    @media screen and (min-width: 481px) and (max-width: 768px){
      width: 100%;
   }
  }
}

#contenedor2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 10px;

  @media screen and (max-width: 480px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: 10px;
  }

  @media screen and (min-width: 481px) and (max-width:767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 10px;
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 10px;
  }


  .card {

    div {
      overflow: hidden;

      &:hover > img{
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
}
      img {
        width: 100%;
        height: 300px;
        transition:all .5s ease-in-out;
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        -ms-transition:all .5s ease-in-out;
        -o-transition:all .5s ease-in-out;
}
    }

  }
}


@media screen and (max-width: 576px) {}

@media screen and (min-width: 577px) and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}
