<br>
<h1 class="titulo text-uppercase mat-display-3 mat-typography">reptiles</h1>

<div class="container-fluid p-0 m-0" id="contenedor" >
    <div class="card m-2" *ngFor="let animales of reptiles, index as i">
        <div>
            <img class="card-img-top img-fluid" src="{{animales.IMG}}" alt="{{animales.nombre}}">
        </div>
        
        <div class="card-body">
            <h1 class="card-title">{{animales.nombre}}</h1>
            <em>{{animales.nombreCientifico}}</em>
            <p class=" card-text mt-3"><b>Clase: </b>{{animales.clase}}</p>
            <div class="text-center" id="caja">
                <a routerLink="/tipos-animales/reptiles/reptil/{{i}}/{{animales.nomRuta}}" class="btn btn-primary" id="btnInfo">Ver información</a>
            </div>
            
        </div>
    </div>
</div>




