$colorh1: #ffffff;
$tamañoh1: 48px;
$sombraTitulo: 0px 0px 0 rgb(173, 198, 170),
1px 1px 0 rgb(157, 182, 154),
2px 2px 0 rgb(142, 167, 139),
3px 3px 0 rgb(126, 151, 123),
4px 4px 0 rgb(110, 135, 107),
5px 5px 0 rgb(94, 119, 91),
6px 6px 5px rgba(0, 0, 0, 0.52),
6px 6px 1px rgba(0, 0, 0, 0.5),
0px 0px 5px rgba(0, 0, 0, .2);
$colorBordeContenedor:#2583b9;
$fondoContainer: #ffffff;

.lobs{
  font-family: 'Lobster Two', cursive;
}

#titulo{
   text-align: center;
   font-size: $tamañoh1;
   text-shadow: $sombraTitulo;
   margin-top: 20px;
}

.tarjeta{
    display: flex;
    max-width: 50%;
    margin: auto;
    height: auto;
    @media screen and (max-width: 540px) {
        max-width: 100%;
        flex-direction: column;
      }

      @media screen and (min-width: 541px) and (max-width: 863px) {
        max-width: 100%;
      }

    img{
       height: 200px;
       @media screen and (max-width: 540px) {
        width: 40%;
        margin: auto;
      }
    }

    .cont{
      height: 200px;
      padding: 10px;
      background-color: $fondoContainer;
      word-wrap: break-word;
      height: auto;
      h1{
          font-size: 25px;
      }
    }
}

.container{
    width: 80%;
    margin: auto;
    border: 4px dashed $colorBordeContenedor;
    background-color: $fondoContainer;
    padding: 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 540px) {
      width: 100%;
    }
    h1{
        font-size: 40px;
    }

    .bibliografia{
        line-height: 25px;
    }
}