<h1 id="titulo" class="lobs mat-typography">Información</h1>
<br><br>

<div class="tarjeta">
   <img src="assets/Foto Curriculum 2.png" alt="Foto">
   <div class="cont">
    <h1 class="lobs mat-typography">Yeiko Muñoz</h1>
    <p>Estudiante de ingeniería informática. Me gusta el desarrollo web, tengo mucho conocimiento a nivel Front-end y un poco en Back-end</p>
    <p>He desarrollado esta página web en Angular como un proyecto personal y así evidenciar mis conocimientos.</p>
   </div>
</div>

<br><br>
<div class="container">
    <h1 class="lobs text-center mat-typography">Referencias Bibliográficas</h1>
    <br>
    <div class="bibliografia">
      ⊛ PEZ ÓSCAR Astronotus ocellatus 【 Guía de Cuidados 】. (2020, Octubre 11). Recuperado Julio 20, 2021, de
      Pecesdeacuarios.net website:
      https://www.pecesdeacuarios.net/peces-de-agua-caliente/ciclidos/pez-oscar-astronotus-ocellatus/
      <br><br>
      ⊛ PIRAÑA SERRASALMUS 【 Guía: Que Come, Donde Vive 】. (2020, Diciembre 25). Recuperado Julio 20, 2021, de
      Pecesdeacuarios.net website: https://www.pecesdeacuarios.net/peces-de-agua-caliente/caracidos/pirana/
      adsedosp. (2018, Julio 26). Camarón. Recuperado Julio 20, 2021, de Animapedia.org website:
      https://animapedia.org/animales-acuaticos/camaron/
      <br><br>
      Animales - Fichas - TUATARA. (n.d.). Recuperado Julio 20, 2021, de Elbibliote.com website:
      http://elbibliote.com/resources/animales/ficha.php?id=442
      <br><br>
      Animales, Colibrí. (n.d.). Recuperado Julio 20, 2021, de Estudiantes.info website:
      http://www.estudiantes.info/ciencias_naturales/colibri.htm
      <br><br>
      Arañas. (n.d.). National Geographic. Recuperado de https://www.nationalgeographic.com.es/animales/aranas
      <br><br>
      Arias, A. (2020, Julio 21). GALLIPATO: qué es, características y curiosidades - con FOTOS. Recuperado Julio 20,
      2021, de Ecologiaverde.com website:
      https://www.ecologiaverde.com/gallipato-que-es-caracteristicas-y-curiosidades-2918.html
      <br><br>
      Caimanes o Aligators (Género Alligator). (n.d.). Recuperado Julio 20, 2021, de Naturalista.mx website:
      https://www.naturalista.mx/taxa/26154-Alligator
      <br><br>
      Crawford, T. (2006). Ranas. Heinemann Educational Books.
      <br><br>
      Almería, A. C. (2019, Abril 8). Cangrejos: características y tipos de estos crustáceos. Recuperado Julio 20,
      2021, de Aquariumcostadealmeria.com website: https://www.aquariumcostadealmeria.com/curiosidades/cangrejos/
      <br><br>
      Definición de cerdo — Definicion.de. (n.d.). Recuperado Julio 20, 2021, de Definicion.de website:
      https://definicion.de/cerdo/
      <br><br>
      Direccion, M. (2020, Mayo 18). Descubre al hermoso y simpático pez payaso, habitante de las anémonas. Recuperado
      Julio 20, 2021, de Acuariomichin.com website:
      https://acuariomichin.com/descubre-al-hermoso-y-simpatico-pez-payaso/
      <br><br>
      El Zoológico Guadalajara. (n.d.-a). Recuperado Julio 20, 2021, de Com.mx website:
      https://www.zooguadalajara.com.mx/animales/detalle/218
      <br><br>
      El Zoológico Guadalajara. (n.d.-b). Recuperado Julio 20, 2021, de Com.mx website:
      https://www.zooguadalajara.com.mx/animales/detalle/70
      <br><br>
      El Zoológico Guadalajara. (n.d.-c). Recuperado Julio 20, 2021, de Com.mx website:
      https://www.zooguadalajara.com.mx/animales/detalle/113
      <br><br>
      Equipo Editorial Peces. (2016, Febrero 25). Barbo rosado, Pethia conchonius (Puntius conchonius). Recuperado Julio
      20, 2021, de Paradais-sphynx.com website:
      https://peces.paradais-sphynx.com/agua-dulce/acuario-tropical/barbo-rosado-pethia-conchonius.htm
      <br><br>
      Gallego, J. L. (2020, Julio 22). La lechuza es el mejor raticida natural que existe: aprende a reconocerla.
      Recuperado Julio 20, 2021, de La Vanguardia website:
      https://www.lavanguardia.com/natural/ecogallego/20200722/482365166750/la-lechuza-es-el-mejor-raticida-natural-que-existe-aprende-a-reconocerla.html
      <br><br>
      Iguana Verde. (2019, Marzo 5). Recuperado Julio 20, 2021, de Anywhere.com website:
      https://www.anywhere.com/es/flora-fauna/reptil/iguana-verde
      <br><br>
      La lagartija. (2016, Agosto 1). Recuperado Julio 20, 2021, de Animales.website website:
      https://www.animales.website/la-lagartija/
      <br><br>
      Langosta. (2015, Junio 17). Recuperado Julio 20, 2021, de Aquariumbcn.com website:
      https://www.aquariumbcn.com/especies/l/langosta/
      <br><br>
      León africano - BIOPARC Valencia. (2017, Junio 15). Recuperado Julio 20, 2021, de Bioparcvalencia.es website:
      https://www.bioparcvalencia.es/animal/sabana-africana/leon/
      <br><br>
      Mamíferos. (n.d.). National Geographic. Recuperado de https://www.nationalgeographic.com.es/animales/mamiferos
      Mosquito. (n.d.). Recuperado Julio 20, 2021, de Ecured.cu website: https://www.ecured.cu/Mosquito
      <br><br>
      @NatGeoES. (2010, Septiembre 5). Escorpión. Recuperado Julio 20, 2021, de Nationalgeographic.es website:
      https://www.nationalgeographic.es/animales/escorpion
      <br><br>
      @NatGeoES. (2010, Septiembre 5). Lombriz de tierra. Recuperado Julio 20, 2021, de Nationalgeographic.es website:
      https://www.nationalgeographic.es/animales/lombriz-de-tierra
      <br><br>
      @NatGeoES. (2010, Septiembre 5). Loro. Recuperado Julio 20, 2021, de Nationalgeographic.es website:
      https://www.nationalgeographic.es/animales/loro
      <br><br>
      @NatGeoES. (2010, Septiembre 5). Pavo real. Recuperado Julio 20, 2021, de Nationalgeographic.es website:
      https://www.nationalgeographic.es/animales/pavo-real
      <br><br>
      @NatGeoES. (2010, Septiembre 5). Pez Globo. Recuperado Julio 20, 2021, de Nationalgeographic.es website:
      https://www.nationalgeographic.es/animales/pez-globo
      <br><br>
      @NatGeoES. (2010, Septiembre 25). Avispas. Recuperado Julio 20, 2021, de Nationalgeographic.es website:
      https://www.nationalgeographic.es/animales/avispas
      <br><br>
      @NatGeoES. (2018, Agosto 29). Jirafa. Recuperado Julio 20, 2021, de Nationalgeographic.es website:
      https://www.nationalgeographic.es/animales/jirafa
      <br><br>
      O’Dowd, E. (2007). Gaviota. Recuperado de https://wikifaunia.com/aves/gaviota/
      <br><br>
      Paloma Huilota. (2012, Septiembre 13). Recuperado Julio 20, 2021, de Celebrateurbanbirds.org website:
      https://celebrateurbanbirds.org/es/learn/birds/focal-species/mourning-dove-2/
      <br><br>
      Peces. (n.d.). National Geographic. Recuperado de https://www.nationalgeographic.com.es/animales/peces
      <br><br>
      Percebe. (n.d.). Recuperado Julio 20, 2021, de Pescaderiascorunesas.es website:
      https://www.pescaderiascorunesas.es/mariscos/percebe
      <br><br>
      Pez Gurami: características, comportamiento, origen, historia. (n.d.). Recuperado Julio 20, 2021, de
      Demascotas.info website: https://demascotas.info/razas/peces/agua-dulce/gurami/
      <br><br>
      Pez Koi - Características, comportamiento, origen, historia. (n.d.). Recuperado Julio 20, 2021, de Demascotas.info
      website: https://demascotas.info/razas/peces/agua-dulce/pez-koi/
      <br><br>
      Polillas, prevenir infestaciones en casa. (n.d.). Recuperado Julio 20, 2021, de Higieneambiental.com website:
      https://higieneambiental.com/control-de-plagas/polillas-en-casa-los-expertos-nos-ensenan-como-deshacernos-de-ellas
      <br><br>
      Portillo, G. (2018, Enero 2). Pez telescopio. Recuperado Julio 20, 2021, de De peces website:
      https://www.depeces.com/pez-telescopio.html
      <br><br>
      Reptil. (n.d.). National Geographic. Recuperado de https://www.nationalgeographic.com.es/animales/reptil
      <br><br>
      Romero, S. (2020, Mayo 6). Curiosidades sobre los dragones de Komodo. Recuperado Julio 20, 2021, de
      MuyInteresante.es website:
      https://www.muyinteresante.es/naturaleza/fotos/curiosidades-sobre-los-dragones-de-komodo
      <br><br>
      Salamandra Común (Salamandra salamandra). (n.d.). Recuperado Julio 20, 2021, de Naturalista.mx website:
      https://www.naturalista.mx/taxa/27726-Salamandra-salamandra
      <br><br>
      Sapos (Familia Bufonidae). (n.d.). Recuperado Julio 20, 2021, de Inaturalist.org website:
      https://ecuador.inaturalist.org/taxa/21359-Bufonidae
      <br><br>
      Taylor, T., & Sanchez, L. M. (2011). Ballenas. Davenport, IA: ARC Press.
      <br><br>
      Verdecora. (2017, Diciembre 24). Pez Betta: cuidados y alimentación. Recuperado Julio 20, 2021, de Verdecora.es
      website: https://verdecora.es/blog/pez-betta-cuidados-alimentacion

    </div>
    
</div>
