<div class="card">
  <div class="card-header">
    <img src="{{mamiferos.IMG}}" class="rounded-circle" alt="{{mamiferos.nombre}}">
    <h1 class="text-light">{{mamiferos.nombre}}</h1>
  </div>

  <div>
    <img src="{{mamiferos.IMG}}" alt="{{mamiferos.nombre}}">
  </div>
  
  <div class="card-body">
    <h2 class="card-title"><b class="text-light">Nombre Científico:  </b>{{mamiferos.nombreCientifico}}</h2>
    <h2 class="card-title"><b class="text-light">Clase:  </b>{{mamiferos.clase}}</h2>
    <h2 class="card-title"><b class="text-light">Descripcion</b> </h2>
    <p class="card-text">{{mamiferos.descripcion}}</p>
  </div>
</div>
<br>
<div class=" text-center">
    <a routerLink="/tipos-animales/mamiferos" class="regresar btn btn-lg">Regresar a la lista</a>
</div>
<br>

