#cont{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    img{
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 540px) {
     #cont{
         width: 100%;
     }   
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    #cont{
        width: 100%;
    }   
}