<div id="contPrincipal">
  <header id="encabezado" class="">
      <div id="encabezado-logo">
          <h1>Zona</h1>
          <h4>Animal</h4>
      </div>

      <ul id="navegacion" class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-list"></i> Tipos de Animales</a>
            <ul id="menuAnimales" class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link">Mamíferos</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Aves</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Reptiles</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Peces</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Insectos</a></li>
            </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="bi bi-info-circle"></i> Información</a>
        </li>
      </ul>
  </header>

  <router-outlet></router-outlet>

  <footer id="Footer">

  </footer>

</div>


