.lobs {
  font-family: 'Lobster Two', cursive;
}

#contPrincipal {
  margin: 0;
  padding: 0;
}

#contPrincipal #encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #afa16e;
}

#contPrincipal #encabezado #encabezado-logo {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

#contPrincipal #encabezado #encabezado-logo h1 {
  font-size: 70px;
  color: #476e25;
  text-shadow: 3px 7px 3px #585957;
}

#contPrincipal #encabezado #encabezado-logo h4 {
  font-size: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #adf270;
  text-shadow: 3px 7px 3px #585957;
  margin-top: 20px;
}

#contPrincipal #encabezado #navegacion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#contPrincipal #encabezado #navegacion li:nth-child(2) #menuAnimales {
  position: absolute;
  z-index: 999;
  border: 1px solid #000000;
  margin-left: 35px;
  background-color: #afa16e;
}

#contPrincipal #encabezado #navegacion li:nth-child(2) #menuAnimales a {
  color: #000000;
  font-size: 18px;
}

#contPrincipal #encabezado #navegacion li:nth-child(2) #menuAnimales a:hover {
  color: #ffebcd;
}

#contPrincipal #encabezado #navegacion a {
  color: #000000;
  font-size: 18px;
}

#contPrincipal #encabezado #navegacion a:hover {
  color: #ffebcd;
}

#contPrincipal #encabezado #btnMenu {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
}

#contPrincipal #encabezado #btnMenu i {
  font-size: 30px;
}

#contPrincipal #encabezado #btnMenu i:hover {
  color: #ffffff;
}

#contPrincipal #navOculto {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -8px;
  z-index: 999;
}

#contPrincipal #navOculto #header2 #encabezado-logo-2 {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

#contPrincipal #navOculto #header2 #encabezado-logo-2 h1 {
  font-size: 70px;
  color: #476e25;
  text-shadow: 3px 7px 3px #585957;
}

#contPrincipal #navOculto #header2 #encabezado-logo-2 h4 {
  font-size: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #adf270;
  text-shadow: 3px 7px 3px #585957;
  margin-top: 20px;
}

#contPrincipal #navOculto #header2 .cerrar2 {
  margin-right: 20px;
}

#contPrincipal #navOculto #navegacion-2 li {
  border-bottom: 1px solid #000000;
}

#contPrincipal #navOculto #navegacion-2 li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#contPrincipal #navOculto #navegacion-2 a {
  margin-left: 20px;
}

#contPrincipal #navOculto #navegacion-2 a:hover {
  color: #ffffff;
}

#contPrincipal #Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  #contPrincipal #Footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #contPrincipal #Footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#contPrincipal #Footer #contEncabezado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#contPrincipal #Footer #contEncabezado #encabezado-logo-3 {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

#contPrincipal #Footer #contEncabezado #encabezado-logo-3 h1 {
  font-size: 70px;
  color: #476e25;
  text-shadow: 3px 7px 3px #585957;
}

#contPrincipal #Footer #contEncabezado #encabezado-logo-3 h4 {
  font-size: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #adf270;
  text-shadow: 3px 7px 3px #585957;
  margin-top: 20px;
}

#contPrincipal #Footer .nav {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

@media screen and (max-width: 509px) {
  #contPrincipal #Footer .nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: none;
  }
}

@media screen and (min-width: 510px) and (max-width: 1191px) {
  #contPrincipal #Footer .nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: none;
  }
}

#contPrincipal #Footer .nav li {
  padding: 20px;
}

@media screen and (max-width: 540px) {
  #contPrincipal #Footer .nav li {
    padding: 0;
  }
}

@media screen and (min-width: 541px) and (max-width: 1191px) {
  #contPrincipal #Footer .nav li {
    padding: 10px;
  }
}

#contPrincipal #Footer .nav li:nth-child(2) .menu {
  margin-left: 20px;
  border: none;
}

#contPrincipal #Footer .nav li:nth-child(2) .menu li {
  padding: 5px;
}

#contPrincipal #Footer .nav li:nth-child(2) .menu li a {
  color: black;
  font-size: 18px;
}

#contPrincipal #Footer .nav li:nth-child(2) .menu li a:hover {
  color: #ffffff;
}

#contPrincipal #Footer .nav li a {
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 540px) {
  #contPrincipal #Footer .nav li a {
    font-size: 14;
  }
}

@media screen and (min-width: 541px) and (max-width: 1191px) {
  #contPrincipal #Footer .nav li a {
    font-size: 20px;
  }
}

#contPrincipal #Footer .nav li a:hover {
  color: #ffffff;
}

#contPrincipal #Footer #fecha {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 540px) {
  #contPrincipal #Footer #fecha {
    margin-top: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 541px) and (max-width: 1191px) {
  #contPrincipal #Footer #fecha {
    margin-top: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=app.component.css.map */