$sombraLogo: 3px 7px 3px #585957;
$colorAlmendra: #ffebcd;
$coloNegro: #000000;

.lobs{
    font-family: 'Lobster Two', cursive;
}

@mixin cajaLogo {
  max-width: max-content;
  padding: 10px;
  height: auto;
  //border: 2px solid $coloNegro;
  display: flex;
  margin-top: 5px;
}

@mixin cajaLogo-h1 {
  font-size: 70px;
  color: #476e25;
  text-shadow: $sombraLogo;
}

@mixin cajaLogo-h4 {
    font-size: 40px;
    align-self: flex-end;
    color: #adf270;
    text-shadow: $sombraLogo;
    margin-top: 20px;
}

#contPrincipal{
    margin: 0;
    padding: 0;
}



