<div class="offcanvas offcanvas-start" tabindex="-1" id="slideNav">

    <div class="offcanvas-header" id="header2">
      <div id="encabezado-logo-2">
        <h1 class="lobs mat-typography">Zona</h1>
        <h4 class="lobs mat-typography">Animal</h4>
      </div>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body bg-success" id="nav">
      <ul id="navegacion-2" class="nav flex-column">
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/" class="nav-link"><i class="bi bi-house"></i> Inicio</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales" class="nav-link"><i class="bi bi-list"></i> Tipos de Animales</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales/mamiferos" class="nav-link"><i class="bi bi-caret-right-fill"></i> Mamíferos</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales/aves" class="nav-link"><i class="bi bi-caret-right-fill"></i>Aves</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales/reptiles" class="nav-link"><i class="bi bi-caret-right-fill"></i> Reptiles</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales/peces" class="nav-link"><i class="bi bi-caret-right-fill"></i>Peces</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales/insectos" class="nav-link"><i class="bi bi-caret-right-fill"></i> Insectos</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales/anfibios" class="nav-link"><i class="bi bi-caret-right-fill"></i> Anfibios</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/tipos-animales/crustaceos" class="nav-link"><i class="bi bi-caret-right-fill"></i> Crustáceos</a></li>
        <li class="nav-item" data-bs-dismiss="offcanvas"><a routerLink="/informacion" class="nav-link"><i class="bi bi-info-circle"></i> Información</a></li>
  
      </ul>
    </div>
  </div>
