#contenedor {
  display: flex;
  justify-content: center;

  .tabanimales {
    max-width: 80%;
    padding: 10px;


    #fotos {
      display: flex;
      justify-content: space-between;

      img {
        max-width: 200px;
        height: 200px;
      }
    }


  }
}

.mat-tab-group {
  margin-bottom: 48px;
}
