.lobs {
  font-family: 'Lobster Two', cursive;
}

#titulo {
  text-align: center;
  text-shadow: 0px 0px 0 #adc6aa, 1px 1px 0 #9db69a, 2px 2px 0 #8ea78b, 3px 3px 0 #7e977b, 4px 4px 0 #6e876b, 5px 5px 0 #5e775b, 6px 6px 5px rgba(0, 0, 0, 0.52), 6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contenedor .tabanimales {
  max-width: 90%;
  padding: 10px;
}

#contenedor .tabanimales #fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 480px) {
  #contenedor .tabanimales #fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #contenedor .tabanimales #fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #contenedor .tabanimales #fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

#contenedor .tabanimales #fotos div {
  overflow: hidden;
  border: 2px solid black;
  -webkit-box-shadow: 8px -4px 8px 0px rgba(0, 0, 0, 0.58);
          box-shadow: 8px -4px 8px 0px rgba(0, 0, 0, 0.58);
}

@media screen and (max-width: 480px) {
  #contenedor .tabanimales #fotos div {
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #contenedor .tabanimales #fotos div {
    width: 100%;
    margin-top: 10px;
  }
}

#contenedor .tabanimales #fotos div:hover > img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

#contenedor .tabanimales #fotos div img {
  width: 300px;
  height: 300px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 480px) {
  #contenedor .tabanimales #fotos div img {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  #contenedor .tabanimales #fotos div img {
    width: 100%;
  }
}

.mat-tab-group {
  margin-bottom: 48px;
}

.btnOcultar:hover {
  color: #ffffff;
}

.contenedorB .buscador {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .contenedorB .buscador {
    width: 100%;
  }
}

#contenedor2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-row: 10;
  grid-row: 10px;
}

@media screen and (max-width: 480px) {
  #contenedor2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-row: 10;
    grid-row: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #contenedor2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-row: 10;
    grid-row: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #contenedor2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-row: 10;
    grid-row: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #contenedor2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-row: 10;
    grid-row: 10px;
  }
}

#contenedor2 .card div {
  overflow: hidden;
}

#contenedor2 .card div:hover > img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

#contenedor2 .card div img {
  width: 100%;
  height: 300px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
/*# sourceMappingURL=tipos-animales.component.css.map */