<br>
<h1 class="mat-display-2 text-white">Tipos de animales</h1>
<br><br>
<div id="contenedor">
  <mat-tab-group animationDuration="0ms" mat-stretch-tabs class="tabanimales bg-white mat-elevation-z4">
    
    <mat-tab label="Mamíferos" class="mats-tab">
      <h1 class="mat-display-1 text-center">Mamíferos</h1>
      <p>{{animales[0].mamiferos}}</p>
      <h2 class="mat-display-1">Fotos</h2>
      <div id="fotos">
        <div><img src="{{mamiferos[0].IMG}}" alt="{{mamiferos[0].nombre}}" matTooltip="{{mamiferos[0].nombre}}"></div>
        <div><img src="{{mamiferos[1].IMG}}" alt="{{mamiferos[1].nombre}}" matTooltip="{{mamiferos[1].nombre}}"></div>
        <div><img src="{{mamiferos[2].IMG}}" alt="{{mamiferos[2].nombre}}" matTooltip="{{mamiferos[2].nombre}}"></div>
        
      </div>
    </mat-tab>

    <mat-tab label="Aves" class="mats-tab">
      <h1 class="mat-display-1 text-center">Aves</h1>
      <p>{{animales[1].aves}}</p>
      <h2 class="mat-display-1">Fotos</h2>
      <div id="fotos">
        <div><img src="{{aves[0].IMG}}" alt="{{aves[0].nombre}}" matTooltip="{{aves[0].nombre}}"></div>
        <div><img src="{{aves[1].IMG}}" alt="{{aves[1].nombre}}" matTooltip="{{aves[1].nombre}}"></div>
        <div><img src="{{aves[2].IMG}}" alt="{{aves[2].nombre}}" matTooltip="{{aves[2].nombre}}"></div>
      </div>
    </mat-tab>

    <mat-tab label="Reptiles" class="mats-tab">
      <h1 class="mat-display-1 text-center">Reptiles</h1>
      <p>{{animales[2].reptiles}}</p>
      <h2 class="mat-display-1">Fotos</h2>
      <div id="fotos">
        <div><img src="{{reptiles[0].IMG}}" alt="{{reptiles[0].nombre}}" matTooltip="{{reptiles[0].nombre}}"></div>
        <div><img src="{{reptiles[1].IMG}}" alt="{{reptiles[1].nombre}}" matTooltip="{{reptiles[1].nombre}}"></div>
        <div><img src="{{reptiles[2].IMG}}" alt="{{reptiles[2].nombre}}" matTooltip="{{reptiles[2].nombre}}"></div>
      </div>
    </mat-tab>

    <mat-tab label="Insectos" class="mats-tab">
      <h1 class="mat-display-1 text-center">Insectos</h1>
      <p>{{animales[4].insectos}}</p>
      <h2 class="mat-display-1">Fotos</h2>
      <div id="fotos">
        <div><img src="{{insectos[0].IMG}}" alt="{{insectos[0].nombre}}" matTooltip="{{insectos[0].nombre}}"></div>
        <div><img src="{{insectos[1].IMG}}" alt="{{insectos[1].nombre}}" matTooltip="{{insectos[1].nombre}}"></div>
        <div><img src="{{insectos[2].IMG}}" alt="{{insectos[2].nombre}}" matTooltip="{{insectos[2].nombre}}"></div>
      </div>
    </mat-tab>

    <mat-tab label="Peces" class="mats-tab">
      <h1 class="mat-display-1 text-center">Peces</h1>
      <p>{{animales[3].peces}}</p>
      <h2 class="mat-display-1">Fotos</h2>
      <div id="fotos">
        <div><img src="{{peces[0].IMG}}" alt="{{peces[0].nombre}}" matTooltip="{{peces[0].nombre}}"></div>
        <div><img src="{{peces[1].IMG}}" alt="{{peces[1].nombre}}" matTooltip="{{peces[1].nombre}}"></div>
        <div><img src="{{peces[2].IMG}}" alt="{{peces[2].nombre}}" matTooltip="{{peces[2].nombre}}"></div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
<br>

<!----------------------------------------------------------------------------------------->
<div class="text-center">
  <button class="btn btn-info" type="button" (click)="mostrarContenido=!mostrarContenido">{{mostrarContenido ? 'Ocultar Animales': 'Mostrar todos los animales'}}</button>
</div>
<br>

<div *ngIf="mostrarContenido" id="contenedor2" class="container-fluid p-0 m-0">
 
  <div class="card m-2" *ngFor="let animales of todosAnimales">
    <div class="card-header bg-success">
      <div class="d-flex">
         <img class="rounded-circle img-fluid" src="{{animales.IMG}}" alt="{{animales.nombre}}" style="width: 50px; height: 50px;">
         <h3 class="align-self-center justify-self-center" style="margin-left: 20px;">{{animales.nombre}}</h3>
      </div>
    </div>
    <img class="card-img img-fluid" src="{{animales.IMG}}" alt="{{animales.nombre}}">
    <div class="card-body">
        <h1 class="card-title">{{animales.nombre}}</h1>
        <em>{{animales.nombreCientifico}}</em>
        <h3 class=" card-text mt-3"><b>Clase: </b>{{animales.clase}}</h3>      
    </div>
</div>
  
</div>