<div>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>

  <div class="carousel-inner" data-bs-interval="5000">
    <div class="carousel-item active">
      <img src="{{todosAnimales[0].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[0].nombre}}">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{todosAnimales[0].nombre}}</h1>
        <p>{{todosAnimales[0].descripcion}}</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{todosAnimales[12].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[12].nombre}}">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{todosAnimales[12].nombre}}</h1>
        <p>{{todosAnimales[12].descripcion}}</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{todosAnimales[23].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[23].nombre}}">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{todosAnimales[23].nombre}}</h1>
        <p>{{todosAnimales[23].descripcion}}</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{todosAnimales[31].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[31].nombre}}">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{todosAnimales[31].nombre}}</h1>
        <p>{{todosAnimales[31].descripcion}}</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="{{todosAnimales[51].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="{{todosAnimales[51].nombre}}">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{todosAnimales[51].nombre}}</h1>
        <p>{{todosAnimales[51].descripcion}}</p>
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"
      title="Anterior">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"
      title="Siguiente">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br><br>

<!--------------------------------------------------------------------------------------------->
<h1 class="tit mat-display-3 text-center text-white text-uppercase mat-display-3 mat-typography">Algunas especies de animales</h1>
<br><br>

<div class="container-fluid p-0 m-0" id="contenedor">

  <div class="cajas bg-success">
    <img src="{{todosAnimales[2].IMG}}" alt="{{todosAnimales[2].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[2].nombre}}</h1>
      <p>{{todosAnimales[2].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success">
    <img src="{{todosAnimales[13].IMG}}" alt="{{todosAnimales[13].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[13].nombre}}</h1>
      <p>{{todosAnimales[13].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success">
    <img src="{{todosAnimales[21].IMG}}" alt="{{todosAnimales[21].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[21].nombre}}</h1>
      <p>{{todosAnimales[21].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success">
    <img src="{{todosAnimales[36].IMG}}" alt="{{todosAnimales[36].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[36].nombre}}</h1>
      <p>{{todosAnimales[36].descripcion}}</p>
    </div>
  </div>

</div>

<br><br>



