<div>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{mamiferos[0].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="Paisaje 1">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{mamiferos[0].nombre}}</h1>
        <p>{{mamiferos[0].descripcion}}</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{{todosAnimales[5].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="Paisaje 1">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{todosAnimales[5].nombre}}</h1>
        <p>{{todosAnimales[5].descripcion}}</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{{todosAnimales[6].IMG}}" class="d-block w-100 img-fluid" style="height: 500px;" alt="Paisaje 1">
      <div class="carousel-caption">
        <h1 class="mat-typography" style="font-size: 40px; font-family: lobster;">{{todosAnimales[6].nombre}}</h1>
        <p>{{todosAnimales[6].descripcion}}</p>
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"
      title="Anterior">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"
      title="Siguiente">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br><br>

<!--------------------------------------------------------------------------------------------->
<h1 class="tit mat-display-3 text-center text-white text-uppercase mat-display-3 mat-typography">Algunas especies de animales</h1>
<br><br>

<div class="container-fluid p-0 m-0" id="contenedor">

  <div class="cajas bg-success">
    <img src="{{todosAnimales[2].IMG}}" alt="{{todosAnimales[2].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[2].nombre}}</h1>
      <p>{{todosAnimales[2].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success">
    <img src="{{todosAnimales[14].IMG}}" alt="{{todosAnimales[14].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[14].nombre}}</h1>
      <p>{{todosAnimales[14].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success">
    <img src="{{todosAnimales[5].IMG}}" alt="{{todosAnimales[5].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[5].nombre}}</h1>
      <p>{{todosAnimales[5].descripcion}}</p>
    </div>
  </div>

  <div class="cajas bg-success">
    <img src="{{todosAnimales[7].IMG}}" alt="{{todosAnimales[7].nombre}}" class="rounded-circle" width="150"
      height="150">
    <div>
      <h1 class="border-bottom border-dark">{{todosAnimales[7].nombre}}</h1>
      <p>{{todosAnimales[7].descripcion}}</p>
    </div>
  </div>

</div>

<br><br>



